<mat-toolbar color="primary" class="mat-elevation-z6">

  <span>  <mat-icon><span class="material-icons-outlined">
      engineering
      </span></mat-icon>Upgrade maintenance</span>
  <div class="spacer"></div>

  <a mat-button routerLink="/loginsuccess"><mat-icon>home</mat-icon>Accueil</a>

  <a mat-button routerLink="/rh"><mat-icon>group</mat-icon>Ressource humaine</a>

  <a mat-button routerLink="/achat"><mat-icon>precision_manufacturing</mat-icon>Stock</a>

  <a mat-button  routerLink="/vente"><mat-icon>storefront</mat-icon>Ventes</a>

  <a mat-button routerLink="/fournisseur"><mat-icon>work_outline</mat-icon>Fournisseurs</a>

  <a mat-button  routerLink="/compta"><mat-icon>euro</mat-icon>Compatibilité</a>

  <a mat-button routerLink="/service"><mat-icon>miscellaneous_services</mat-icon>Services</a>

  <a mat-raised-button color="warn" routerLink=""><mat-icon>logout</mat-icon>Se deconnecter</a>




  </mat-toolbar>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >


    <!-- Right -->
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->

        <!-- Grid column --

        <!-- Grid column -->

        <!-- Grid column -->


        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> 265 Bd Emile Zola 20300 Casablanca
          </p>

          <p><i class="fas fa-phone me-3"></i> Tél :(212)522 480 746/ 522 245 489</p>

          <p><i class="fas fa-phone me-3"></i>Mobile (212)661 189 562 /661 623 992</p>

          <p><i class="fas fa-phone me-3"></i> Fax :(212)522 490 772/ 522 245 490</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="">UPGARDE MAINTENANCE</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
