

<head>

</head>
<mat-toolbar color="primary" class="mat-elevation-z6">

  <span> <img class="logo" src="https://drive.google.com/file/d/1tIuyKMxkXVF4kCJUVzm49spJl9DRu2fm/view?usp=sharing" alt=""> </span>
  <div class="spacer"></div>

  <a mat-button routerLink="/homeclient"><mat-icon>home</mat-icon>Accueil</a>

  <a mat-button routerLink="/eshop"><mat-icon>group</mat-icon>shop</a>
  </mat-toolbar>
<br><br><br>
  <div class="two">
    <h1>Pièce : 
      <span> </span>
    </h1>
  </div> <br><br><br>

<div class="section">
<img class="image" src="https://i.pinimg.com/564x/dc/e6/c0/dce6c0923a316554572841bb6f857c31.jpg" />
<div class="info"><br><br>
<h1>Titre</h1><br>
<h4>descriptoion</h4>
<h4>Price</h4><br><br><br><br><br>
  <button  class="btn btn-info">Ajoute au panier</button>&nbsp;
    <!-- <button  class="btn btn-info"></button> -->
</div></div>