
<mat-toolbar color="primary" class="mat-elevation-z6">

  <span><mat-icon>trending_up</mat-icon>UPGRADESHOP</span>
  <div class="spacer"></div>

  <a mat-button routerLink="/homeclient">
    <mat-icon>home</mat-icon>
    Accueil</a>

  <a mat-button routerLink="/product">
    <mat-icon>storefront</mat-icon>
    Boutique</a>

  <!-- <a mat-button routerLink="/valider">
    <mat-icon>point_of_sale</mat-icon>Valider mon panier
    </a> -->
    <a mat-button routerLink="/contact">
      <mat-icon>support_agent</mat-icon>
      Contactez nous</a>
  </mat-toolbar>
  <br><br>
<section class="about-section">
  <div class="image-holder">
    <img src="https://www.usinenouvelle.com/mediatheque/9/9/0/000667099_896x598_c.jpg" alt="">
  </div>
  <div class="about-box">
    <div class="inner-box">
      <div class="two">
        <h1>Upgrade maintenance</h1><br>
        <p>Upgrade maintenance est la seule entreprise au Maroc qui fournis des produits depuis l’étranger , et puis les commercialiser à travers le Maroc , crée en 2006 par son fondateur AKRAM , titulaire d'un master en commerce international.
          Les produits commercialise par cette entreprise sont des pièces de maintenance et de soudage .</p>

         <p> Upgrade maintenance effectue aussi des travaux de maintenance à ses collaborateurs qui sont des grandes entreprises marocaines tels que group OCP et GELEC energy.

      .</p>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="about-us-post">

            <h2>Mécanique</h2>
          </div>
          <div class="about-us-post">

            <h2>Maintanance</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-us-post">

            <h2>Industrie.</h2>
          </div>
          <div class="about-us-post">
            <a href="#"><i class="fa fa-users"></i></a>
            <h2>Soudage</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br><br>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
<!-- Section: Social media -->
<section
  class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
>


  <!-- Right -->
</section>



<footer>
  <div class="up-footer">
    <div class="container">
      <div class="row">

        <div class="col-md-3 col-sm-6">
          <div class="footer-widget text-widget">
            <h2>Upgrade Maintenance</h2>
            <span> akram@upgrademaintenance.com</span>
            <span>Tél :(212)522 480 746/ 522 245 489 <br>

Fax :(212)522 490 772/ 522 245 490<br>

Mobile (212)661 189 562 /661 623 992</span>
<span>265 Bd Emile Zola 20300 Casablanca</span>

          </div>
        </div>
      <iframe style="float: right;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13293.53263435811!2d-7.5944906!3d33.5953616!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c7f8f08761bfa1b!2sUpgrade%20Maintenance!5e0!3m2!1sen!2sma!4v1620435415388!5m2!1sen!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</div>
</div>
</div>
</footer>




