.spacer {
  flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
  background: #20226d;
  color: #fff;
}
.page-footer{
  margin-top: 26%;
}

section.about-section {
  display: flex;
  background-color: #fff;
  align-items: center; }
  section.about-section .image-holder {
    margin-left: 20px;
    width: 50%; }
    section.about-section .image-holder img {
      width: 100%;
      height: auto; }
  section.about-section .about-box {
    width: 50%; }
    section.about-section .about-box .inner-box {
      max-width: 568px;
      padding-left: 90px; }
      section.about-section .about-box .inner-box .about-us-post {
        overflow: hidden;
        margin-top: 30px;
        padding: 40px 20px;
        border: 1px solid #da504e;
        background: #da504e;
        text-align: center; }
        section.about-section .about-box .inner-box .about-us-post a {
          font-size: 26px;
          margin-bottom: 10px;
          color:black; }
        section.about-section .about-box .inner-box .about-us-post h2 {
          font-size: 18px;
          margin-bottom: 0px; }
    section.about-section .about-box .title-section {
      text-align: left;
      margin-bottom: 10px; }
      section.about-section .about-box .title-section h1:after {
        left: 0;
        margin-left: 0; }
      section.about-section .about-box .title-section h1, section.about-section .about-box .title-section p {
        color: #20226d; }
      section.about-section .about-box .title-section p {
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-size: 15px; }


