
<mat-toolbar color="primary" class="mat-elevation-z6">

  <span>  <mat-icon><span class="material-icons-outlined">
      engineering
      </span></mat-icon>Upgrade maintenance</span>
  <div class="spacer"></div>

  <a mat-button routerLink="/loginsuccess"><mat-icon>home</mat-icon>Accueil</a>

  <a mat-button routerLink="/rh"><mat-icon>group</mat-icon>Ressource humaine</a>

  <a mat-button routerLink="/achat"><mat-icon>precision_manufacturing</mat-icon>Stock</a>

  <a mat-button  routerLink="/vente"><mat-icon>person</mat-icon>Les clients</a>

  <a mat-button routerLink="/fournisseur"><mat-icon>work_outline</mat-icon>Fournisseurs</a>


  <a mat-button routerLink="/service"><mat-icon>miscellaneous_services</mat-icon>Services</a>

  <a mat-button routerLink="/commande"><mat-icon>miscellaneous_services</mat-icon>Les Commandes</a>

  <a mat-raised-button color="warn" routerLink=""><mat-icon>logout</mat-icon>Se deconnecter</a>

  </mat-toolbar>
  <br>
  <br>
  <br>
  <br>


	<section class="about-section">
    <div class="image-holder">
      <img src="https://www.usinenouvelle.com/mediatheque/9/9/0/000667099_896x598_c.jpg" alt="">
    </div>
    <div class="about-box">
      <div class="inner-box">
        <div class="title-section">
          <h1>Upgrade maintenance</h1><br>
        <p>Upgrade maintenance est la seule entreprise au Maroc qui fournis des produits depuis l’étranger , et puis les commercialiser à travers le Maroc , crée en 2006 par son fondateur AKRAM , titulaire d'un master en commerce international.
          Les produits commercialise par cette entreprise sont des pièces de maintenance et de soudage .</p>

         <p> Upgrade maintenance effectue aussi des travaux de maintenance à ses collaborateurs qui sont des grandes entreprises marocaines tels que group OCP et GELEC energy.

      .</p>   </div>
      <div class="row">
        <div class="col-md-6">
          <div class="about-us-post">

            <h2>Mécanique</h2>
          </div>
          <div class="about-us-post">

            <h2>Maintanance</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-us-post">

            <h2>Industrie.</h2>
          </div>
          <div class="about-us-post">
            <a href="#"><i class="fa fa-users"></i></a>
            <h2>Soudage</h2>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section><br><br>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >


    <!-- Right -->
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->

        <!-- Grid column --

        <!-- Grid column -->

        <!-- Grid column -->


        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> 265 Bd Emile Zola 20300 Casablanca
          </p>

          <p><i class="fas fa-phone me-3"></i> Tél :(212)522 480 746/ 522 245 489</p>

          <p><i class="fas fa-phone me-3"></i>Mobile (212)661 189 562 /661 623 992</p>

          <p><i class="fas fa-phone me-3"></i> Fax :(212)522 490 772/ 522 245 490</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="">UPGARDE MAINTENANCE</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
