
<mat-toolbar color="primary" class="mat-elevation-z6">

  <span><mat-icon>trending_up</mat-icon>UPGRADESHOP</span>
  <div class="spacer"></div>

  <a mat-button routerLink="/homeclient">
    <mat-icon>home</mat-icon>
    Accueil</a>

  <a mat-button routerLink="/product">
    <mat-icon>storefront</mat-icon>
    Boutique</a>

  <a mat-button routerLink="/valider">
    <mat-icon>point_of_sale</mat-icon>Valider mon panier
    </a>
    <a mat-button routerLink="/contact">
      <mat-icon>support_agent</mat-icon>
      Contactez nous</a>
  </mat-toolbar>
  <br><br>


  <div class="two">
    <h1>Contactez nous <br>
      <!-- <span>La liste des Commandes</span> -->
    </h1>
  </div>
<br>
  <div class="container">
    <form action="/action_page.php">
      <label for="fname">Votre Nom</label>
      <input type="text" id="name" name="firstname" placeholder="Votre nom....">

      <label for="country">Ville</label>
      <select id="country" name="country">
        <option value="casablanca">Casablanca</option>
        <option value="agadir">Agadir</option>
        <option value="essaouira">Essaouira</option>
        <option value="Rabat">Rabat</option>
        <option value="Marakesh">Marakesh</option>
        <option value="Safi">Safi</option>

      </select>

      <label for="subject">Sujet</label>
      <textarea id="subject" name="subject" placeholder="...." style="height:200px"></textarea>

      <input type="submit" value="Envoyer">
    </form>
  </div>
<br><br>
<footer>
  <div class="up-footer">
    <div class="container">
      <div class="row">

        <div class="col-md-3 col-sm-6">
          <div class="footer-widget text-widget">
            <h2>Upgrade Maintenance</h2>
            <span> akram@upgrademaintenance.com</span>
            <span>Tél :(212)522 480 746/ 522 245 489 <br>

Fax :(212)522 490 772/ 522 245 490<br>

Mobile (212)661 189 562 /661 623 992</span>
<span>265 Bd Emile Zola 20300 Casablanca</span>

          </div>
        </div>
      <iframe style="float: right;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13293.53263435811!2d-7.5944906!3d33.5953616!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c7f8f08761bfa1b!2sUpgrade%20Maintenance!5e0!3m2!1sen!2sma!4v1620435415388!5m2!1sen!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</div>
</div>
</div>
</footer>




